<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title> <!--leave empty-->

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">

    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/0f1ea83838.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!--replace image later-->
            <img src="static/images/cat.jpg" alt="Logo" class="navbar-logo">
            <a class="navbar-brand" href="/"><strong>Datapack Generator</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-align-right">
                    <!--TODO: add links for github and cs50-->
                    <a href="https://github.com/flintvivi/datapack-gen" class="nav-link"><i class="fa-brands fa-github"></i></a>
                    <a href="https://cs50.harvard.edu/" class="nav-link"><i class="fa-solid fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
    </nav>
    {% block main %}
    {% endblock %}
</body>